<form {{action "doMasterPassword" on="submit"}}>
  <div class="row">
    <div class="hidden-xs col-sm-4 col-md-3">
      <h3>
        <img src="assets/favicon.png" title="YithLib" class="img-responsive">
      </h3>
    </div>
    <div class="col-sm-8 col-md-9">
      <h3>
        Master Password
      </h3>
      <p>
        <div class="form-group">
          <label class="sr-only" for="masterPassword">Master Password</label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            {{input-autofocused class="form-control" type="password" value=tmpMasterPassword name="masterPassword" placeholder="Your Master Password" title="Master Password" required="required"}}
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="masterPassword">Remember Master Password?</label>
          <select class="form-control" onchange={{action "selectWhereToRememberMasterPassword" value="target.value"}}>
            <option value="memory" selected="{{if isOptionMemorySelected 'selected' ''}}">Don't remember</option>
            <option value="session" selected="{{if isOptionSessionSelected 'selected' ''}}">Remember for this session</option>
            <option value="local" selected="{{if isOptionLocalSelected 'selected' ''}}">Always remember</option>
          </select>
        </div>
        <button type="submit" class="btn btn-block {{if isMasterPasswordEmpty 'btn-warning' (if isMasterPasswordValid 'btn-primary' 'btn-danger')}}" {{action "doMasterPassword"}} disabled="{{unless isMasterPasswordValid 'disabled'}}">
          {{#if isMasterPasswordEmpty}}
            <i class="fa fa-fw fa-lock"></i> Enter your Master Password
          {{else}}
            {{#if isMasterPasswordValid}}
              <i class="fa fa-fw fa-unlock"></i> Unlock library
            {{else}}
              <i class="fa fa-fw fa-lock"></i> Wrong Master Password!
            {{/if}}
          {{/if}}
        </button>
      </p>
      <hr />
      <div class="list-group">
          {{#link-to 'preferences' class="list-group-item"}}
          <i class="fa fa-fw fa-wrench"></i> Preferences
          {{/link-to}}
          {{#link-to 'information' class="list-group-item"}}
          <i class="fa fa-fw fa-info"></i> Information
          {{/link-to}}
      </div>
      <div class="list-group">
          {{#link-to 'accounts' class="list-group-item disabled" title="Coming Soon ..."}}
              <i class="fa fa-fw fa-users"></i> Switch Account
          {{/link-to}}
          {{#link-to 'logout' class="list-group-item"}}
              <i class="fa fa-fw fa-sign-out"></i> Log out
          {{/link-to}}
      </div>
    </div>
  </div>
</form>
